/*@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700,400italic,700italic|Aclonica);*/
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700,400italic,700italic|Macondo+Swash+Caps);

html {
  background-image: url("../img/dungeon_wall_tile_01.png");
  background-position: left top;
  background-repeat: repeat;
}

html { font-family: "Vollkorn", serif; }
h1, h2, h3, h4 { font-family: 'Macondo Swash Caps', sans-serif; }

body {
  border-left: 2px solid #222;
  border-right: 2px solid #222;
  box-shadow: 4px 4px 16px #222;
}

main {
  padding: 0;
}

header .current,
main .current {
  border-bottom: 3px solid #888;
}

body>header h1 {
  font-size: 3rem;
}

header nav li {
  border: none;
}

main h1 {margin-top: 1.2rem;}
main h2 {margin-top: 1.2rem;}
main h3 {margin-top: 1.2rem;}
main h4 {margin-top: 1.2rem;}

main h1:first-of-type {margin-top: 0.5rem;}

main h5,
main h6 {
  margin-top: 0.6rem;
  padding-bottom: 0;
}

.sub-nav {
  background-color: #bbb;
/*  padding-top: 0.6rem;*/
  height: 2.4rem;
}

.sub-nav ul {
  margin: 0;
}

.sub-nav li {
  display: inline-block;
  margin-left: 1rem;
}

.prev-next {
  display: block;
  width: auto;
  overflow: hidden;
}

.prev-next a {
  display: block;
  width: 50%;
  float: left;
}

.prev-next .next {
  text-align: right;
  float: right;
}
/*
.content {
  padding: 1rem;
}
*/

table {
  font-family: Arial, Helvetica, sans-serif;
}

main th,
main td {
  padding: 0.3em 0.5em;
}

.table-sentence {
  padding: 0.25rem 1rem;
  text-align: left;
}

.cell-width-85 {
  width: 85%;
}

/*footer nav {
  margin-bottom: 0.5rem;
}*/

.headroom {
  margin-top: 1rem;
}

main li {
  line-height: 1.25;
}

.bulleted {
  list-style: disc outside;
}

.bulleted.circle {
  list-style: circle outside;
}

.bulleted>li {
  margin-left: 1.2rem;
}

.lower-alpha>li {
  list-style-type: lower-alpha;
}

.txt-ctr { text-align: center; }
.txt-lft { text-align: left; }

.no-break {
  display: inline-block;
}

div.warning {
  padding: 1.2rem;
  margin: 1.2rem 0;
  border: 2px solid rgb(224, 112, 112);
  background: rgb(255, 198, 128);
  font-family: Arial, sans-serif;
}

.warning h2 {
  margin-top: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}



/* Formatting for print */

@media print {
  html {
    font-size: 12px;
    width: auto;
  }

  body {
    width: 100%;
  }

  html,
  body,
  header,
  main,
  footer {
    background: none;
    border: none;
    color: #000;
    box-shadow: none;
  }

  header p,
  header nav,
  .prev-next,
  .sub-nav,
  .print-hide { display: none;}

  .print-block {
    display: block;
  }

  header div {
    float: none;
    text-align: center;
    margin: 0 auto;
  }

  header h1 {
    font-size: 1.5rem;
  }

  main h1 { margin-top: 0; }

  main {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 1.5rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 1.5rem; /* Firefox */
    column-gap: 1.5rem;
    -webkit-column-rule: 0.1rem solid silver; /* Chrome, Safari, Opera */
    -moz-column-rule: 0.1rem solid silver; /* Firefox */
    column-rule: 0.1rem solid silver;
  }

  main table {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
  }

  main table.wide {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 10px;
  }
}