main {
  padding: 0;
}

header .current,
main .current {
  border-bottom: 3px solid #888;
}

header nav li {
  border: none;
}

.sub-nav {
  background-color: #bbb;
  padding-top: 0.5rem;
}

.sub-nav ul {
  margin: 0;
}

.sub-nav li {
  display: inline-block;
  margin-left: 1rem;
}

.rules-prev-next {
  display: block;
  width: auto;
  overflow: hidden;
}

.rules-prev-next a {
  display: block;
  width: 50%;
  float: left;
}

.rules-prev-next .next {
  text-align: right;
  float: right;
}

.content {
  padding: 1rem;
}