{% capture page_category %}
  {% include functions/set-page-category.html %}
{% endcapture %}
{% assign page_category = page_category | strip %}

{% unless page_category == null %}
  <div class="sub-nav">
    <ul>
      {% if page.category contains page_category %}
        <li>
          <a href="{{site.baseurl}}/{{ page_category }}.html"
            class="{% if page.title == page_category %}
              current
            {% endif %}">
            {{ page_category | capitalize }}:
          </a>
        </li>
        {% include {{page_category}}-links.html %}
      {% endif %}
    </ul>
  </div>
{% endunless %}