<table>
  <tr>
    <th>Category</th>
    <th>Damage<br>Adj.</th>
    <th>Brawn<br>Min.</th>
    <th>Size<br>(Body)</th>
    <th>Size<br>(Helm)</th>
    <th>Examples</th>
  </tr>
  <tr>
    <td>Light</td>
    <td>-1</td>
    <td>6</td>
    <td>2</td>
    <td>1</td>
    <td>Padded cloth,<br>Leather armor</td>
  </tr>
  <tr>
    <td>Medium</td>
    <td>-3</td>
    <td>9</td>
    <td>4</td>
    <td>2</td>
    <td>Chainmail,<br>Scale armor</td>
  </tr>
  <tr>
    <td>Heavy</td>
    <td>-5</td>
    <td>12</td>
    <td>6</td>
    <td>2</td>
    <td>Plate armor</td>
  </tr>
</table>