<table class="wide long">
  <tr>
    <th>Attack Resolution Summary</th>
  </tr>
  <tr>
    <th class="table-sentence">Attacker declares his attack</th>
  </tr>
  <tr>
    <td class="table-sentence">
      <ul class="bulleted">
        <li>Determine that the defender is within the weapon's <em>reach</em> or <em>range</em></li>
        <li>Determine that the attacker has <em>line of sight</em> to the defender</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="table-sentence">Defender makes a Defense roll</th>
  </tr>
  <tr>
    <td class="table-sentence">
      <ol>
        <li>Defender rolls two exploding Finesse dice</li>
        <li>Defender applies any adjustments, including:
          <ul class="bulleted">
            <li>Skill with either his ready weapon or sheild (not both)</li>
            <li>Defense bonus for his shield, if any</li>
            <li>Adjustments for any prior actions or movements in the current action phase</li>
            <li>Adjustments for active spells, magical items or effects, etc.</li>
          </ul>
        </li>
        <li>Resulting value is the challenge rating for the attacker's Attack Check; Defense rolls are <em>not</em> subject to exceptional results.</li>
      </ol>
    </td>
  </tr>
  <tr>
    <th class="table-sentence">Attacker rolls his Attack Check</th>
  </tr>
  <tr>
    <td class="table-sentence">
      <ol>
        <li>Attacker rolls two exploding Stat Dice, either Brawn or Finesse, depending on the weapon type</li>
        <li>Attacker applies any adjustments, including:
          <ul class="bulleted">
            <li>Skill with weapon used in attack</li>
            <li>Adjustments for attack action chosen (advanced action rules only)</li>
            <li>Adjustments for active spells, magical items or effects, etc.</li>
          </ul>
        </li>
        <li>If the Attack Check equals or exceeds the Defense roll, the attack hits; if not, it misses.</li>
        <li>Attack Checks <em>are</em> subject to exceptional results; see Critical Combat Outcomes table.</li>
      </ol>
    </td>
  </tr>
  <tr>
    <th class="table-sentence">If the attack hits, damage is resolved</th>
  </tr>
  <tr>
    <td class="table-sentence">
      <ol>
        <li>Attacker rolls Damage die for his weapon type</li>
        <li>Attacker applies any Damage adjustments to determine raw damage inflicted</li>
        <li>Defender applies any Damage adjustments (including Armor) to determine damage sustained</li>
        <li>Defender subtracts damage sustained from his current Hit Points</li>
      </ol>
    </td>
  </tr>

</table>