<table>
  <tr>
    <th>Challenge</th>
    <th>Value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Trivial</td>
    <td>4</td>
    <td>
      <p class="table-sentence">Ordinary, non-heroic people can do it most of the time.</p>
      <p class="table-sentence"><em>Dribble down the court without anyone guarding you.</em></p>
    </td>
  </tr>
  <tr>
    <td>Easy</td>
    <td>6</td>
    <td>
      <p class="table-sentence">Heroes and professionals can do it most of the time. Ordinary folks can do it from time to time.</p>
      <p class="table-sentence"><em>Hit a free-throw in practice.</em></p>
    </td>
  </tr>
  <tr>
    <td>Hard</td>
    <td>8</td>
    <td>
      <p class="table-sentence">Heroes can often do it, if it uses one of their better stats. For ordinary people, success at Hard Challenges is a once-a-year occurrence.</p>
      <p class="table-sentence"><em>Make a basket in a college game.</em></p>
    </td>
  </tr>
  <tr>
    <td>Heroic</td>
    <td>10</td>
    <td>
      <p class="table-sentence">A hero can sometimes do it, if it’s based on his best stat and he has a little skill or luck. Succeeding at a Heroic Challenge is a once-in-a-lifetime event for ordinary people.</p>
      <p class="table-sentence"><em>Hit a three-pointer in an NBA game.</em></p>
    </td>
  </tr>
  <tr>
    <td>Superhuman</td>
    <td>12</td>
    <td>
      <p class="table-sentence">A hero <em>might</em> pull it off, if it’s based on his best stat, and he has both skill <em>and</em> luck.</p>
      <p class="table-sentence"><em>Nail a buzzer-beater from half court to win an important game.</em></p>
    </td>
  </tr>
  <tr>
    <td>Impossible</td>
    <td>15</td>
    <td>
      <p class="table-sentence">A hero might do it once in a lifetime, if everything goes his way,<br>and the relevant gods are smiling on him.</p>
      <p class="table-sentence"><em>Put up 8 points in the last 9 seconds to win in the playoffs.<br>(Google “Reggie Miller 8 points in 9 seconds”).</em></p>
    </td>
  </tr>
</table>