<table class="wide long">
  <tr>
    <th>Conditions</th>
  </tr>
  {% for condition in site.data.conditions %}
    {% if condition.sets contains "core" %}
      <tr>
        <th class="table-sentence">{{condition.name | capitalize}}</th>
      </tr>
      <tr>
        <td class="table-sentence">
          <ul class="bulleted">
            {% for effect in condition.effects %}
              <li>{{effect}}</li>
            {% endfor %}
          </ul>
          {% if condition.resist %}
            <p class="ftrm-none"><em>Resist:</em> {{condition.resist}}</p>
          {% endif %}
          <p>
            <em>Remove:</em> {% if condition.removed %}{{condition.removed}}{% else %}Varies depending upon cause{% endif %}
          </p>
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>