<table>
  <tr>
    <th>Action</th>
    <th>AP Cost</th>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Step one square (No adjustment to Defense; may step up to 3 squares per Round at 1 AP per square).</p>
    </td>
    <td>1 per square</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Run two squares (-1 to Defense per AP spent running, lasting until Reset; may run up to 6 squares per Round at 1 AP per 2 squares).</p>
    </td>
    <td>1 per 2 squares</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Rushed Attack (Attack with -2 on Attack roll; -1 to Defense until Reset).</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Normal Attack (No adjustments to Attack or Defense).</p>
    </td>
    <td>2</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Aimed Attack (Attack with +1 on Attack roll; -1 to Defense until Reset.)</p>
    </td>
    <td>3</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>All-Out Attack (HTH only; attack with +2 on Attack roll; +4 on Damage roll; -3 to Defense until Reset).</p>
    </td>
    <td>3/Only</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Shield Block (Reflex action, requires shield; double shield Defense Adjustment vs. incoming attack).</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Parry (Reflex action, requires ability; completely blocks incoming attack; -2 on all Attack rolls until Reset).</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Counterattack (Reflex action, requires ability; attack your attacker <em>before</em> he attacks you; -2 to Attack roll).</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Riposte (Response, requires ability; attack your attacker <em>after</em> he attacks you; -1 to Attack roll per HP of damage received).</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Administer emergency first aid (stop bleeding)</p>
    </td>
    <td>3/Only</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Cast spell</p>
    </td>
    <td>Per spell card</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Drink potion</p>
    </td>
    <td>3/Only</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Cast spell from scroll</p>
    </td>
    <td>3/Only</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Climb ladder or stairs one level (10 feet/1") up or down</p>
    </td>
    <td>2/Only</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Recover (Regain 1 Mana Point)</p>
    </td>
    <td>Only</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Rise from prone position</p>
    </td>
    <td>3/Only</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Rise from sitting or kneeling position</p>
    </td>
    <td>1/Only</td>
  </tr>
</table>
