<table>
  <tr>
    <th class="cell-width-85">Action</th>
    <th>Turns</th>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Walk from one dungeon tile to the next (usually 4-5" on the map).</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Get out a torch or lantern and light it.</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Gear up for combat (put on helm, ready weapons and shield), or stow weapons and shields afterwards.</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Pick a typical lock or disarm a common trap.</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Search 4” of wall or 4 squares of floor or ceiling for secret doors or other hidden features.</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Climb a ladder or staircase from one dungeon level to the next.</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Sketch a few tiles’ worth of dungeon onto a map.</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Open an unlocked treasure chest and quickly survey its contents.</p>
    </td>
    <td>1</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Carefully sort the contents of a treasure chest and distribute the contents among the party members.</p>
    </td>
    <td>5</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Assess a wound and administer skilled first aid (stitching cuts, removing arrows, applying splints or tourniquets, etc.).</p>
    </td>
    <td>3/HP of damage</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Build a stable campfire and get out field rations for a quick meal (assumes fuel for the fire is at hand).</p>
    </td>
    <td>3</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Clear campsite (remove brush and debris, etc. Duration assumes all campers are contributing; double the number of turns if making camp is done by half or less of the party).</p>
    </td>
    <td>10 turns</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Set up an overnight camp suitable in a clearing (build a campfire, tether horses or mules, lay out bedding, prepare to cook a simple meal, etc. Duration assumes all campers are contributing; double the number of turns if making camp is done by half or less of the party).</p>
    </td>
    <td>15 turns</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Break camp (Put out campfire, stow gear safely, ready horses or mules for travel, etc. Duration assumes all campers are contributing; double the number of turns if making camp is done by half or less of the party).</p>
    </td>
    <td>10 turns</td>
  </tr>
  <tr>
    <td class="table-sentence">
      <p>Cast an Exploration Mode spell<br>(e.g., Discern Enchantment, Commune with Spirits, Heal)</p>
    </td>
    <td>Per spell notes</td>
  </tr>
</table>