<table>
  <tr>
    <th colspan="3">First Aid Tasks</th>
  </tr>
  <tr>
    <th>Task</th>
    <th>Effect</th>
    <th>Challenge<br>Rating</th>
  </tr>
  <tr>
    <td>Stabilize</td>
    <td>Removes <em>bleeding</em> condition</td>
    <td>
      <ul>
        <li>Bruised patient: CR 6</li>
        <li>Bloodied patient: CR 9</li>
        <li>Incapacitated patient: CR 9</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Bind Wounds</td>
    <td>
      <ul>
        <li>Bruised patient: Restores 1 HP</li>
        <li>Bloodied patient: Restores 2 HP</li>
        <li>Incapacitated patient: Restores 2 HP</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Bruised patient: CR 6</li>
        <li>Bloodied patient: CR 9</li>
        <li>Incapacitated patient: CR 9</li>
      </ul>
    </td>
  </tr>
</table>