<table>
  <tr>
    <th>Shield Type</th>
    <th>Defense<br>Adj.</th>
    <th>Brawn<br>Min.</th>
    <th>Spellcasting<br>Adjustment</th>
    <th>Size</th>
  </tr>
  <tr>
    <td>Buckler</td>
    <td>+1</td>
    <td>6</td>
    <td>-1</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Targe, Heater</td>
    <td>+2</td>
    <td>8</td>
    <td>-2</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Kite</td>
    <td>+3</td>
    <td>10</td>
    <td>-3</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Pavise, Tower</td>
    <td>+4</td>
    <td>12</td>
    <td>-3</td>
    <td>8</td>
  </tr>
</table>