<table>
  <tr>
    <th colspan="2">Character Stats</th>
  </tr>
  <tr>
    <th>Primary Stats</th>
    <th>Secondary Stats</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li><strong>Brawn:</strong> <span class="no-break">Physical might</span></li>
        <li><strong>Finesse:</strong> <span class="no-break">Agility and quickness</span></li>
        <li><strong>Savvy:</strong> <span class="no-break">Mental sharpness</span></li>
        <li><strong>Nerve:</strong> <span class="no-break">Strength of will</span></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><strong>Hit Points</strong> = <span class="no-break">Brawn + ( Nerve/2 )</span></li>
        <li><strong>Mana Points</strong> = <span class="no-break">Savvy + ( Nerve/2 )</span></li>
        <li><strong>Faith Points</strong> = <span class="no-break">Nerve + ( Savvy/2 )</span></li>
      </ul>
    </td>
  </tr>
</table>