<table>
  <tr>
    <th>Turn Summary</th>
  </tr>
  <tr>
    <th class="table-sentence">Reset Phase</th>
  </tr>
  <tr>
    <td>
      <ol>
        <li class="table-sentence">Apply per-turn effects (bleeding, poison, etc.).</li>
        <li class="table-sentence">Remove <em>temporary</em> conditions.</li>
        <li class="table-sentence">Make Check rolls to remove <em>persistent</em> conditions.</li>
        <li class="table-sentence">Recover 1 Mana Point.</li>
        <li class="table-sentence">Set <em>action points</em> for next action phase (1dFinesse, plus adjustments; surprised characters receive 1 AP, with no adjustments).</li>
        <li class="table-sentence">Recover <em>free steps</em> (Medium characters, 2 spaces; small characters, 1 space).</li>
        <li class="table-sentence">Once all characters have been reset, the action phase for the next turn begins.</li>
      </ol>
    </td>
  </tr>
  <tr>
    <th class="table-sentence">Action Phase</th>
  </tr>
  <tr>
    <td>
      <ul class="bulleted">
        <li class="table-sentence">An action phase consists of one or more rounds of action.</li>
        <li class="table-sentence">In each round, characters act in descending order of current action points.</li>
        <li class="table-sentence">In each round, if a character has action points remaining, he may do any or all of the following, in order:
          <ol>
            <li class="table-sentence">Use his <em>free steps</em> for the turn, if he hasn't already used them.</li>
            <li class="table-sentence">Take one <em>movement</em> from the movement table.</li>
            <li class="table-sentence">Take one <em>action</em> from the action table.</li>
          </ol>
        </li>
        <li class="table-sentence">A character may <em>pass</em> his opportunity to act until the next round, saving any remaining action points and free steps, but he may not <em>delay</em> his action until later in the current round.</li>
        <li class="table-sentence">The current action phase ends after any round in which all characters have either used up their action points for the turn, or passed their opportunity to act.</li>
        <li class="table-sentence">Each action phase is immediately followed by a reset phase.</li>
      </ul>
    </td>
  </tr>
</table>