<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% if page.full-title %}{{ page.full-title }} | {% endif %}
    Dungeons of Olde
    {% if page.subtitle %} | {{ page.subtitle}}{% endif %}
  </title>
  <meta name="description" content="{{page.description}}Dungeons of Olde, a fast, fun, tile-based, table-top fantasy roleplaying game. Free to download, free to play.">
  <meta name="keywords" content="{{page.keywords}}tabletop rpg, free tabletop rpg, free fantasy rpg">
  <meta name="author" content="Jeff George">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico?" type="image/x-icon">
  <link rel="icon" href="{{site.baseurl}}/favicon.ico?" type="image/x-icon">

  <link rel="stylesheet" href="{{site.baseurl}}/css/drop-in.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5SHIV script borrowed from HTML5Boilerplate -->
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->

</head>


<body>
  <!-- BROWSER UPGRADE WARNING borrowed from HTML5Boilerplate -->
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  {% if page.comment %}
    <script id="dsq-count-scr" src="//dungeonsofolde.disqus.com/count.js" async></script>
  {% endif %}

  <header>
    <div>
      <h1><a href="{{site.baseurl}}/index.html">Dungeons of Olde</a></h1>
      <p>Trashing old-school dungeons, one tile at a time!</p>
    </div>
    {% include nav.html %}
  </header>

  <main>
    {% include rules-nav-bar.html %}

    <div class="content">
      {{content}}
    </div>

  </main>

  <footer>
    <nav class="print-hide">
      <ul>
      <li>
        <a href="{{site.baseurl}}/index.html">Home</a>
      </li>
      {% include nav-links.html %}
      </ul>
    </nav>
    <p class="print-block"><em>Dungeons of Olde</em> is Copyright &copy;2016 by Jeff George</p>
    <p class="print-hide">See more of Jeff's work at <a href="http://webdevjeff.us/">webdevjeff.us</a></p>
  </footer>


</body>
</html>